:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #247291;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body,
p {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: black;
  font-weight: bold;
}

.hero h1 {
  font-size: 96px;
  margin-bottom: 30px;
}

p {
  font-weight: normal;
}

.hero {
  background-color: #aeccc6;
  text-align: center;
  padding: 120px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.hero .btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.content h1 {
  font-size: 64px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  font-weight: bold;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: bold;
}

.content p {
  font-size: 14px;
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 30px;
}
.content-container {
  padding: 120px 20px;
  padding: 0;
}

.content {
  margin: 30px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 50px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.primary-link:hover {
  color: white;
  background-color: gray;
  transition: all 300ms ease;
}

.paragraph {
  background: none;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

.profile-picture {
  border-radius: 70px;
}

@media (max-width: 576px) {
  img {
    display: none;
  }
  .profile-picture {
    display: none;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
.active {
  color: var(--primary-color) !important;
}

.nav-item {
  padding: 0 5px;
}

#YagmurRizvi {
  padding-left: 30px;
}

footer .contact-box {
  background: #aeccc6;
  padding: 30px 60px;
  border-radius: 10px;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 20px;
  text-decoration: none;
}

.contact-box h4 {
  font-size: 48px;
}

.text-muted {
  font-size: 20px;
}

footer .social-links:hover {
  color: var(--primary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--primary-color);
  background: #f9f7fe;
  padding: 10px 14px;
  font-size: 24px;
  border-radius: 50%;
}
